html,
body {
  margin: 0;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
    "Segoe UI", "Liberation Sans", sans-serif;
}

.wrapper {
  background-color: white;
  padding: 2em 2em;
}

.wrapper img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.wrapper p {
  text-align: left;
  margin-top: 2em;
  font-size: 1.2em;
  line-height: 180%;
}
